/* Resetiranje osnovnih stilova */
html, body, header, footer, main, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form,
label, input, textarea, button , a, p, section {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    color: black;
    font-family: "Open Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

button {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    display: block;
}
button:hover {
    background-color: #333;
}

/* Osnovni stilovi */
body {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}
/* Stilovi za prikaz na uredjajima vecim od 1200px */
@media screen and (min-width: 1200px) {
    body {
        display: block;
    }
}

header {
    background-color: #a72fc8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 100% 0;
    padding: 20px;
    width: 80%;
    color: white;
}
header h1 {
    color: white;
}
/* Stilovi za prikaz na mobilnim uređajima */
@media screen and (max-width: 768px) {
    header {
        width: 100%;
        border-radius: 0;
    }
}
/* Stilovi za prikaz na uredjajima vecim od 1200px */
@media screen and (min-width: 1200px) {
    header {
        width: 1200px;
        margin: auto;
    }
}

main {
    width: 80%;
}
/* Stilovi za prikaz na mobilnim uređajima */
@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }
}
/* Stilovi za prikaz na uredjajima vecim od 1200px */
@media screen and (min-width: 1200px) {
    main {
        width: 1200px;
        margin: auto;
    }
}

footer {
    width: 80%;
}
/* Stilovi za prikaz na mobilnim uređajima */
@media screen and (max-width: 768px) {
    footer {
        width: 100%;
    }
}
/* Stilovi za prikaz na uredjajima vecim od 1200px */
@media screen and (min-width: 1200px) {
    footer {
        width: 1200px;
        margin: auto;
    }
}
.footercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
.footeritem {
    width: 400px;
    flex-direction: column;
    padding: 20px;
}
.footeritem h3 {
    margin-bottom: 10px;
}
.footeritem ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footeritem ul li {
    margin-bottom: 10px;
    font-size: 16px;
}
.copy-right {
    background-color: #a72fc8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 100% 0 0 0;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: white;
}
.copy-right p {
    color: white;
}
.copy-right a {
    color: white;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: #fff;
    width: 100%;
    align-items: center;
}
.logo {
    width: 300px;
}
.nav-menu {
    width: 400px;
    list-style-type: none;
    justify-content: right;
    display: flex;
    padding: 20px;
}
.nav-menu li {
    margin-left: 30px;
}
.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}
.nav-menu a:hover {
    color: #da92ee;
}
.nav-menu ul {
    display: none;
    position: absolute;
    background-color: black;
    padding: 20px;
    list-style-type: none;
}
.nav-menu ul li {
    padding: 10px;
    margin: 0;
}
.nav-menu li:hover > ul {
    display: block;
}
.sandwich {
    display: none;
}
/* Stilovi za prikaz na mobilnim uređajima */
@media screen and (max-width: 768px) {
    .logo {
        width: 40%;
        display: flex;
    }
    .sandwich {
        width: 50%;
        display: flex;
        padding: 10px;
    }
    .sandwich-menu {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 24px;
        width: 30px;
        cursor: pointer;
        z-index: 2;
    }
    .sandwich-menu-line {
        height: 3px;
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
    }
    .sandwich-menu.open .sandwich-menu-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .sandwich-menu.open .sandwich-menu-line:nth-child(2) {
        opacity: 0;
    }
    .sandwich-menu.open .sandwich-menu-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        flex-basis: 100%;
        display: block;
        text-align: center;
    }
    .nav-menu li {
        margin: 0;
        padding: 10px;
    }
}

#usluge {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 0 30px 0;
}
.usluge_sec {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 230px;
    flex-direction: column;
}
.usluge_sec:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.usluge_sec img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.usluge_sec h3 {
    margin-bottom: 10px;
}
.usluge_sec p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
/* Stilovi za mobitel */
@media (max-width: 768px) {
    #usluge {
        padding: 0;
    }
    .usluge_sec {
        width: 100%;
    }
    .usluge_sec img {
    max-width: 70%;

    }
}

.prednosti {
    background-color: #a72fc8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 50px;
    text-align: center;
    border-radius: 20% 0 20% 0;
}
.prednosti h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}
.prednosti ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.prednosti li {
    padding: 10px;
    margin: 20px;
    max-width: 400px;
    text-align: center;
}
.prednosti h3 {

    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}
.prednosti p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #fff;
}
@media (max-width: 768px) {
    .prednosti h2 {
        margin-top: 30px;
    }
    .prednosti {
        padding: 10px;
    }
    .prednosti li {
        flex-basis: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .prednosti{
        border-radius: 0;
    }
}


#pricing {
    padding: 80px 0;
    text-align: center;
}
.pricing-table {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.pricing-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 20px;
    padding: 40px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.pricing-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.pricing-card p.price {
    font-size: 36px;
    margin-bottom: 30px;
    color: #ff9900; /* Promijenili smo boju cijene u narančastu (#ff9900) */
}
.pricing-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.pricing-card li {
    margin-bottom: 10px;
}
.pricing-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}
.pricing-button:hover {
    background-color: #333;
}
@media (max-width: 768px) {
    .pricing-table {
        flex-direction: column;
    }
    .pricing-card {
        margin: 20px 20px 20px 20px;
    }
}

#o-nama {
    padding: 30px;
    text-align: center;
    margin-top: 50px;
}
#o-nama h2 {
    margin-bottom: 20px;
}
#o-nama p {
    margin-bottom: 20px;
    font-size: 20px;
}

#kontakt {
    padding: 50px;
    margin-top: 50px;
    background-color: #f9f6f6;
}
#kontakt h2 {
    text-align: center;
    margin-bottom: 40px;
}
#kontakt form {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid silver;
}
#kontakt label {
    font-size: 16px;
    font-weight: bold;
}
#kontakt input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid silver;
    display: block;
    margin-bottom: 10px;
}
#kontakt textarea {
    height: 150px;
}
#kontakt button {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    display: block;
}
#kontakt button:hover {
    background-color: #333;
}
#kontakt p {
    margin-top: 20px;
}
@media (max-width: 768px) {
    #kontakt {
        margin: 30px 5px 5px 5px;
        padding: 20px;
    }
    #kontakt h2 {
        margin-bottom: 20px;
    }
    #kontakt form {
        padding: 20px;
        width: 100%;
    }
    #kontakt input, textarea {
        width: 100%;
    }
}
